{% extends 'match/base_site.html' %}
{% block userutil %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
<center><h2 class="page-titles">Grasshoper Becoming Sensai.</h2></center>
<div class="form-shaper">
	<form action="" method="POST" id="register-form">{% csrf_token %}
		{% for field in form %}
		<fieldset>
		{{ field.label_tag }} {{ field }}
		</fieldset>
		{% endfor %}
		<input type="submit">
		<a href="{% url 'register_login' %}" id="toggle-reg-log">Login</a>
	</form>	
</div>
<script type="text/javascript">
</script>
{% endblock %}