<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% block title %}
	<title>My League Notebook</title>
	{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
	<div class="container">
		<header>
				<div class="logo">My League Notebook</div>
				<!-- <span class="chart fa fa-area-chart fa-4x"></span> -->
		</header>
		<div class="user-util">
			<!-- user specific functionality -->
			<h3>
				<i class="fa fa-gears fa-3x"></i>
			</h3>
			<div class="util-links">
				<div id="top">
					<div id="user">
						<a href="#">User</a>
					</div>
					<div id="settings">
						<a href="#">Settings</a>
					</div>
				</div>
				<div id="bot">
					<div id="coffeeme">
						<a href="#">Help</a>
					</div>
					<div id="log">
						<a href="#">Log Out</a>
					</div>
				</div>
			</div>
		</div>
		<nav>
			<a href="#"><i class="fa fa-navicon fa-3x"></i></a>
			<ul>
				<li>
					<a href="#">Games</a>
					<ul>
						<li>
							<a href="{% url 'create_game' %}">Add </a><i class="fa fa-plus"></i>
						</li>
						<span></span>
						<li>
							<a href="#">All </a><i class="fa fa-th"></i>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Champs</a>
					<ul>
						<li>
							<a href="#">Add </a><i class="fa fa-plus"></i>
						</li>
						<li>
							<a href="#">All </a><i class="fa fa-th"></i>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Genius</a>
					<ul>
						<li>
							<a href="#">Stats</a>
						</li>
						<li>
							<a href="#">Select</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>

	</div>
<script src="{% static 'jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript">
		$("nav > a").click(function(){
			$("nav > ul").slideToggle();
		});
</script>
</body>
</html>