{% extends 'match/base_site.html' %}
{% block content %}
<center><h2 class="page-titles">Game Into Brain.</h2></center>
<div class="form-shaper">
	<form action="" method="POST">{% csrf_token %}
		<fieldset>
			<span class-"form-cutter"></span>
			<label for="user_played">Played:</label>
			<select name="user_played" class="select" id="played">
				<option value="">-------</option>
				{% for name in champ_names %}
				<option value="{{ name }}">{{ name }}</option>
				{% endfor %}
			</select>
		</fieldset>
		<fieldset>
			<label for="enemy_laner">Enemy Laner:</label>
			<select name="enemy_laner" class="select">
				<option value="">-------</option>
				{% for name in champ_names %}
				<option value="{{ name }}">{{ name }}</option>
				{% endfor %}
			</select>
		</fieldset>
		<fieldset>
			<label for="winner">Winner:</label>
			<input type="checkbox" name="winner">			
		</fieldset>
		<fieldset>
			<label for="enemy_jungler">Enemy Jungler:</label>
			<select name="enemy_jungler" class="select">
				<option value="">-------</option>
				{% for name in champ_names %}
				<option value="{{ name }}">{{ name }}</option>
				{% endfor %}
			</select>			
		</fieldset>
		<fieldset>
			<label for="note">Any Notes?</label>
			<textarea name="notes" placeholder="Optional"></textarea>
		</fieldset>
		<input type="submit" id="game-form-submit">
	</form>	
</div>
<script type="text/javascript">
	var f = $("form");
	var cb = $("input[type=checkbox]")
	// f.submit(function(){
	// 	if(!cb.is(":checked")){ // if checkbox not checked
	// 	}
	// });
</script>
{% endblock %}