{% extends 'match/base_site.html' %}
{% block title %}
{{ champ }} KDA: {{ win_lose }}
{% endblock %}
{% block content %}
<div class="game-detail-shaper">
	<fieldset>
		{{ object.kill }}/{{ object.assist }}/{{ object.death }}
	</fieldset>
	{% if object.enemy_jungler %}
	<fieldset>
		Enemy Jungler: {{ object.enemy_jungler }}
	</fieldset>
	{% endif %}
	{% if object.winner %}<fieldset>{{ object.display_winner }}</fieldset>
	{% else %}<fieldset>Win: False</fieldset>
	{% endif %}
	{% if object.date_played %}
	<fieldset>
		{{ object.date_played }}
	</fieldset>
	{% endif %}
	{% if object.what_you_did_well %}
	<fieldset>
		{{ object.what_you_did_well }}
	</fieldset>
	{% endif %}
	{% if object.could_have_done_better %}
	<fieldset>
		{{ object.could_have_done_better }}
	</fieldset>
	{% endif %}
	<fieldset>
		CS: {{ object.cs }}
	</fieldset>
	<fieldset>
		Damage to Champs: {{ object.dmg_to_champions }}
	</fieldset>
	<fieldset>
		Wards Placed: {{ object.wards_placed }}
	</fieldset>
</div>
<form action="{% url "games" %}" method="POST" id="game-detail-form">{% csrf_token %}
	<input type="hidden" name="c_search" value="{{ champ }}">
	<input type="submit" value="{{ champ }} - All">
</form>
{% endblock %}