{% extends 'match/base_site.html' %}
{% block content %}
<center><h2 class="page-titles">Game Into Brain.</h2></center>
<div class="form-shaper">
	<form action="" method="POST">{% csrf_token %}
		<fieldset>
			<span class-"form-cutter"></span>
			<label for="user_played">Played:</label>
			<select name="user_played" class="select" id="played">
				<option value="">-------</option>
				{% for name in champ_names %}
				<option value="{{ name }}">{{ name }}</option>
				{% endfor %}
			</select>
		</fieldset>
		<fieldset>
			<label for="direct_enemy">Direct Enemy:</label>
			<select name="direct_enemy" class="select">
				<option value="">-------</option>
				{% for name in champ_names %}
				<option value="{{ name }}">{{ name }}</option>
				{% endfor %}
			</select>
		</fieldset>
		<fieldset>
			<label for="winner">Winner:</label>
			<input type="checkbox" name="winner" id="winner-checkbox">			
		</fieldset>
		<fieldset class="text-one">
			<label for="what_you_did_well">Did well:</label>
			<textarea name="what_you_did_well" placeholder="Optional"></textarea>
		</fieldset>
		<fieldset  class="text-two">
			<label for="could_have_done_better">Could have done better:</label>
			<textarea name="could_have_done_better" placeholder="Optional"></textarea>
		</fieldset>
		<input type="submit" id="game-form-submit">
	</form>	
</div>
<script type="text/javascript">
	var f = $("form");
	var cb = $("input[type=checkbox]")
	// f.submit(function(){
	// 	if(!cb.is(":checked")){ // if checkbox not checked
	// 	}
	// });
</script>
{% endblock %}