{% extends 'match/base_site.html' %}
{% block title %}
Genius
{% endblock %}
{% block content %}
<div class="genius-wrapper">
	<div id="container" style="width: 90%; height:400px;"></div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	$.getJSON("/match/api/kills/", function(data){
        console.log(data[0]);
        arr = new Array();
        for (var i=0; i<10; i++){
            arr.push(data[i])
        }
        var ten = new Array();
    	for(var i=1; i<11; i++){
    		ten.push(i)
    	};
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Kills From Last 10 Games'
            },
            xAxis: {
                data: ten,
                title: {
                	text: "Game #"
                }
            },
            yAxis: {
                title: {
                    text: 'Kill #'
                }
            },
            series: [{name:"kills", data: arr}]
        });
    });
</script>
{% endblock %}