{% extends 'match/base_site.html' %}
{% block title %}
Genius
{% endblock %}
{% block content %}
<div class="genius-wrapper">
	<div id="container" style="width: 90%; height:400px;"></div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	var game_time = new Array();
	for(var i = 0; i <= 60; i++){
		game_time.push(i)
	};
	var arr = [];
	for (var i=0, t=60; i<t; i++) {
	    arr.push(Math.round(Math.random() * t))
	}
	var arr2 = [];
	for (var i=0, t=60; i<t; i++) {
	    arr2.push(Math.round(Math.random() * t))
	}
	console.log(game_time);
	$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'CS Per Minute'
        },
        xAxis: {
            data: game_time,
            title: {
            	text: "Minutes"
            }
        },
        yAxis: {
            title: {
                text: 'Creeps'
            }
        },
        series: [{
            name: 'LeBlanc',
            data: arr
        }, {
            name: 'Draven',
            data: arr2
        }]
    });
});
</script>
{% endblock %}