{% extends 'charts/index.html' %}
{% block title %}
Damage Dealt
{% endblock %}
{% block content %}
<div class="damage-dealt">
    <form action="{% url 'json_dmg' %}" method="POST" id="game-search-form">
        {% csrf_token %}
        <input id='search' type="search" name="c_search"/>
        <input type="submit" id="game-search-submit" value="Filter"> 
    </form>
    <fieldset class="info">
        <p>Search for champions above.</p>
    </fieldset>
	<div id="dmg-chart"></div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $('#game-search-form').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'json_dmg' %}",
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'c_search': $('#search').val(),
            },
            success: function(data){
                $(".info").hide();
                $('#dmg-chart').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ""
                    },
                    xAxis: {
                        categories: data.champions
                    },
                    yAxis: {
                        title: {
                            text: 'Damage'
                        }
                    },
                    series: [{
                        name: "Damage Dealt to Champions",
                        data: data.dmg
                    }]
                });
            }
        });
    });
</script>
{% endblock %}