{% extends 'charts/index.html' %}
{% block title %}
Genius
{% endblock %}
{% block content %}
<div class="genius-wrapper">
    <div id="container" style="width: 90%; height:400px; padding: 10px 0px 0px 35px;"></div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        type: "GET",
        url: "{% url 'json_gold' %}",
        success: function(data){
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: "Gold Earned by Champion"
                },
                xAxis: {
                    categories: data.champions
                },
                yAxis: {
                    title: {
                        text: 'Gold'
                    }
                },
                series: [{
                    name: "Gold",
                    data: data.gold
                }]
            });
        }
    });
});

</script>
{% endblock %}