{% extends 'charts/index.html' %}
{% block title %}
Genius
{% endblock %}
{% block content %}
<div class="genius-wrapper">
	<div id="container" style="width: 90%; height:400px; padding: 10px 0px 0px 35px;"></div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
	$.getJSON("{% url 'json_top_five' %}", function(data){
        console.log(data);
        dmg = new Array();
        for (var i=0, len=data.length; i<len; i++){
            var lb = data[i]
            dmg.push(lb.dmg_to_champions)
        }
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ""
            },
            xAxis: {
                min: 0,
                max: 4,
                title: {
                	text: "Champ"
                }
            },
            yAxis: {
                title: {
                    text: 'Games Played'
                }
            },
            series: [{
                name: "Most Played Champions",
                data: data
            }]
        });
    });
</script>
{% endblock %}